RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Headers when using Apache with CGI/FastCGI
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule ^persons/([A-Za-z0-9]*)$ rest.php?class=PersonService&method=handle&id=$1&%{QUERY_STRING} [NC]
RewriteRule ^persons/([A-Za-z-_0-9]*)/([A-Za-z-_0-9]*)$ rest.php?class=PersonService&method=$2&id=$1&%{QUERY_STRING} [NC]
RewriteRule ^persons$ rest.php?class=PersonService&method=handle&%{QUERY_STRING} [NC]